{% extends "parent.html" %}
{% block main %}
<html>
    <head>
<h1 style="text-align: center;"> This is aboutus page.</h1>
<div style="background-color: mediumorchid;" class="row col-sm-12">
<h1 style="text-align: center; font-size:large ;">Collaborative Researches/ Consultancy projects are being done with the following Institutions:</h1>
</div>
    </head>
    <body>
<ul>
<li>Schools of National Resources and Environment, Michigan, USA</li>
<li>University of Michigan Ann Arbor, USA</li>
<li>RMRI, Patna</li>
<li>Mahavir Cancer Research Institute, Patna</li>
<li>ISRO, Bangalore</li>
<li>Dept. of Space, Govt. of India</li>
<li>NTPC Ltd., Kahalgaon</li>
<li>Ministry of Coal, Govt. of India</li>
</ul>
    </body>
</html>
{% endblock main %}